* {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgb(3, 58, 129);
  background: linear-gradient(
    180deg,
    rgba(3, 58, 129, 1) 19%,
    rgba(170, 52, 96, 1) 100%
  );
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(187, 201, 223, 0.75);

    &:hover {
      background-color: rgba(218, 82, 82, 0.9);
    }
  }
}

.wide {
  grid-column: span 2;
}
.long {
  grid-row: span 2;
}

.display {
  grid-column: 1/-1;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  // word-wrap: break-word;
  word-break: break-all;
  text-align: right;
  padding: 8px;
}
.display2 {
  color: black;
  font-size: 1.8rem;
  font-weight: 400;
}
.display2 {
  color: black;
  font-size: 0.9rem;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  & p {
    font-size: 0.8rem;
  }
  & a {
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
  }
}
.footer img {
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.wide4 {
  margin-top: 1rem;
  grid-column: span 4;
}
